name: Prepare Auto Release Branch

# Disable as MS Org doesn't allow github action to create PR anymore. Can be re-added if a solution is found.
on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  pull-requests: write
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - uses: ./.github/actions/setup

      - run: pnpm install
        name: Install dependencies
      - run: pnpm build
        name: Build

      - name: Create release branch
        run: pnpm tsx ./eng/prepare-release-pr.ts
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
