name: Publish

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches:
      - main

  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    environment: npm
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - uses: pnpm/action-setup@v3
        name: Install pnpm

      - run: pnpm install
        name: Install dependencies

      - run: pnpm run build
        name: Build

      - run: pnpm run test
        name: Test

      - run: |
          git status --porcelain
          git diff --no-ext-diff --quiet --exit-code
        name: Check not out of date generated files

      - run: pnpm chronus pack --pack-destination ./artifacts
        name: Pack

      # Have to use npm as pnpm doesn't respect access.
      - run: pnpm chronus publish "./artifacts/*.tgz" --access public --engine npm --report-summary ./publish-summary.json
        name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: |
          echo "Publish summary:"
          cat ./publish-summary.json
        name: Log publish summary

      - run: pnpm chronus-github create-releases --repo alloy-framework/alloy --publish-summary ./publish-summary.json
        name: Create github releases
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - run: pnpm -w chronus version --prerelease
        name: Bump prerelease version

      - run: pnpm chronus publish --access public --engine npm --tag next
        name: Publish Dev versions
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
